@inherits LayoutComponentBase
@using BlazorGameSpike.Client.Scenes.Shops

<header>
    <CurrencyBalance/>
</header>

<aside>
    <UpgradeShop />
</aside>

<main>
    @* Scene changes, UI layout stays *@
    @*<BattleScene/>*@
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
